{% extends "base.html" %}

{% block content %}
<div id="container">
  <div id="hdr">
    <h1>grapes</h2>
    <p id="tagline">just kidding, this is imageapp</p>
  </div>

  <div id="lftcol">
    <ul id="nav">
      <li><a href="" id="current">Home</a></li>
      <li><a href="upload2">Normal Upload</a></li>
      <li><a href="upload">AJAX Upload</a></li>
    </ul>

    <div id="quote">
      <p><em>Upload ALL the images</em></p>
    </div>
  </div>

  <div id="rgtcol">
    <h2>Most Recent Image</h2>
    <img width=40% src='image_raw?special=latest'/>
  </div>

  <div id="bttmbar">Copyright &copy; Eric Austin - austine5 - fenderic - CSE491</div>

</div>

{% endblock %}
