{% extends "base.html" %}

{% block content %}
<h2>Upload with AJAX:</h2>

<form id='form' enctype='multipart/form-data' action='upload_receive' method='POST'>
  Image Name: <input type='text' name='image_name' id='image_name'></br></br>
  Image Desc: <input type='text' name='image_desc' id='image_desc'></br></br>
  Filename: <input id='file' type='file' name='file'><p></br></br>
  <input style='display:none;' type='submit'>
</form>
</br><span style='color:white;'>Since this is AJAX upload, make sure you type in your image name and description BEFORE you upload the image!</span></br> 
<span id='success' style='color:white; display:none;'>Successful Upload!
</br>
<img id='image' src=''/>
</span>
</br>
<a href="/">Back to Home</a>

<script type='text/javascript' src='ajaxUpload.js'></script>
{% endblock %}
