{% extends "base.html" %}

{% block content %}
Upload with AJAX:

<form id='form' enctype='multipart/form-data' action='upload_receive' method='POST'>
Filename: <input id='file' type='file' name='file'><p>
  Image Name: <input type='text' name='image_name' id='image_name'></br>
  Image Desc: <input type='text' name='image_desc' id='image_desc'></br>
  <input style='display:none' type='submit'>
</form>
</br> Since this is AJAX upload, make sure you type in your image name and description BEFORE you upload the image!</br> 
<span id='success' style='display:none'>Successful Upload!
</br>
<img id='image' src=''/>
</span>
</br>
<a href="/">Back to Home</a>

<script type='text/javascript' src='ajaxUpload.js'></script>
{% endblock %}
